body{
    background-image: url("../../New folder/pexels-photo-531844.jpeg");
    position: absolute;
    width:75em;
    height: 40em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  } 